/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 50%;
    margin: auto;
    overflow: hidden;
}

/* Fade effect */
.fade {
    animation: fade 1.9s ease-in-out;
}

@keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}

/* Navigation controls */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px; 
    margin-top: -22px; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

body {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 60px;
}

header {
    background: #333;
    color: #fff;
    padding: 16px; 
    text-align: center;
    font-family: "Playwrite BE VLG", cursive;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 16px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin: 0;
}

section {
    padding: 32px; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    flex: 1 1 30%;
    margin: 16px; 
}

.gallery-item img {
    width: 800px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 16px; 
}

form input, form textarea {
    padding: 8px; 
    margin-top: 8px; 
    border: 1px solid #ccc;
}

form button {
    margin-top: 16px; 
    padding: 8px; 
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
#contact{
    color:blueviolet;
    
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 16px; 
    position: fixed;
    width: 100%;
    bottom: 0;
}
